#title{
  text-align: center;
  font-family: Georgia, serif;
}
* {box-sizing: border-box}

.navbar {
  width: 100%;
  background-color: #d4f1ff;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.navbar a:hover {
  background-color: #71a6bf;
}

.navbar a.active {
  background-color: #71a6bf;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
#me{
  border-radius: 8px;
  width: 200;
  height: 300px;
  display: block;
  object-position: right bottom;
}

#corner1 {
  display: block;
  clear:left;
  float: left;
  border-radius: 25px;
  background: #71a6bf;
  padding: 20px;
  width: 350px;
  height: 300px;
  text-align: center;
}
#corner2 {
  display: block;
  clear:left;
  float: left;
  border-radius: 25px;
  background: #71a6bf;
  padding: 20px;
  width: 350px;
  height: 300px;
  text-align: center;
}
#corner3 {
  display: block;
  clear:left;
  float: left;
  border-radius: 25px;
  background: #71a6bf;
  padding: 20px;
  width: 350px;
  height: 300px;
  text-align: center;
}




.contain {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}





