#title{
  text-align: center;
  font-family: Georgia, serif;
}
.navbar {
  width: 100%;
  background-color: #c9deff;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; 
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: ##ffffff;
}

  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
