* {box-sizing: border-box}

.navbar {
  overflow: hidden;
  background-color: #d1ecff;
  position: static;
  top: 0; 
  width: 100%; 
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 17px 100px;
  text-decoration: none;
}
h1{
  font-size: 20px;
  font-family: Garamond;
}

.navbar a:hover {
  background: #7da1ba;
  color: black;
}

/* Main content */
.main {
margin-top: 20px; 
}

.navbar h1{
  padding-right: 30px;
  float: right;
}



* {
  box-sizing: border-box;
}

.interact {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .interact {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .interact {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
